# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
build/
dist/
.python-version
.ipynb_checkpoints/

# Environment files
.env
.env/
.venv/
venv/
ENV/

# Data cache
.DS_Store
*.tmp
data/raw/

# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot

# IDE
.vscode/
.idea/

